<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INSERT_TITLE_HERE</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
</head>

<body>
  INSERT_SANATISED_HTML_HERE
  <small style="visibility: visible !important; display: inline !important;">User-generated content hosted by Dragon Hosting. Visiting these pages is at your own risk.</small>
</body>
</html>
